* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
}

.header {
  background-color: #fefeff;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  /* New grid inside the header */
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.sidebar {
  background-color: #1992d4;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.main-content {
  background-color: #e3e8f1;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  /* New grid inside the main content defining three sections */
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.project-section {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.announcement-section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.trending-section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.sidebar-brand,
.sidebar-item {
  display: flex;
  color: #fefeff;
  padding-left: 24px;
}

.sidebar-brand {
  padding-top: 16px;
  gap: 16px;
}

.sidebar-brand-title,
.sidebar-item-text {
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.sidebar-brand-title {
  font-size: 32px;
}

.sidebar-item-text {
  font-size: 24px;
}

.sidebar-main-items,
.sidebar-secondary-items {
  padding-top: 48px;
}

.sidebar-item {
  padding-top: 8px;
  gap: 24px;
  align-items: center;
}

.sidebar-brand-icon,
.sidebar-icons {
  fill: currentColor;
}

.sidebar-brand-icon {
  width: 40px;
  height: 40px;
}

.sidebar-icons {
  width: 24px;
  height: 24px;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.alert-icon {
  width: 24px;
  height: 24px;
}

.search-section,
.profile-section {
  display: grid;
  grid-auto-flow: column;
}

.profile-icon-big {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-icon-big img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-icon-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-icon-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-right-section {
  font-weight: 700;
}

.profile-section {
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding-left: 80px;
  padding-top: 20px;
}

.profile-btn-section {
  padding-top: 44px;
  padding-left: 40px;
  padding-bottom: 24px;
  display: flex;
  gap: 24px;
}

.header-btn {
  border-radius: 50px;
  padding: 10px 25px;
  background-color: #1992d4;
  color: #fefeff;
  border: none;
  font-weight: 700;
  font-family: inherit;
}

.username-section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 70px 1fr;
  gap: 24px;
  font-weight: 700;
  align-items: center;
  padding-top: 32px;
  padding-left: 40px;
  padding-bottom: 16px;
}

.greeting {
  font-size: 12px;
}

.user-name {
  font-size: 24px;
}

.search-section {
  padding-left: 40px;
  padding-top: 24px;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.search-bar {
  border: none;
  background-color: #e3e8f1;
  border-radius: 50px;
  height: 32px;
}
